body{
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}

video{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.global-btn{
	background: #eee;
	font-size: 24px;
	text-transform: capitalize;
	padding: 0 40px;
	height: 52px;
	line-height: 46px;
	font-weight: 700;
	border-radius: 25px;
	border: 2px solid;
}
.logo{
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	color: #C7E6E3;
	display: block;
	transition: all .3s;
	width: 60px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #C7E6E3;
	border-radius: 5px;
	font-family: 'Kaushan Script', cursive;

	&:hover{
		color: #fff;
		text-decoration: none;
	}
}